name: CI/CD

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop
  push:
    tags:
      - 'v*'

jobs:
  ci-release:
    name: CI and Release
    uses: enercity/github-actions/.github/workflows/go-ci-release.yml@main
    with:
      go_version: "auto"
      run_bdd: false
      release_on_tags: true
      prerelease_regex: "-(rc|beta|alpha|shadow)"
      goreleaser_args: "release --clean"
      ecr_registry: "367771023052.dkr.ecr.eu-central-1.amazonaws.com"
      image_repository: "billing-data-aggregator"
    secrets:
      AWS_ROLE: ${{ secrets.AWS_ROLE_BILLING_DATA_AGGREGATOR }}
